
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');







html {
    scroll-behavior: smooth;
  }
  
  
  * {
    margin: 0%;
    padding: 0;
  }
  
  .inter-uniquifier,
  body {
    font-family: "Inter", 
    sans-serif;
  
  }
  
  
  
  
  
  
  
  header {
    height: 75x;
    width: 100%;
    background-color: #ffffff;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 15px -8px gray;
  }
  
  
  .logo img.eduonlogo {
    height: 60px;
    width: fit-content;
  }
  
  .nav-items {
    display: inline-flex;
    align-items: center;
    gap: 20PX;
  
  }
  
  header>.nav-items a {
    text-decoration: none;
    color: black;
    font-size: 11pt;
    padding: 6px 0;
  }
  
  header>.nav-items a:hover {
    color: #ffb607;
    text-decoration: underline 2px 2px;
    transition-duration: .2s;

    border-bottom: 5px solid #ffb607;
   
  }

  header>.nav-items a:focus {
    border-bottom: 5px solid #ffb607;
    color:#ffb607;
 }  header>.nav-items a:active {
  border-bottom: 5px solid #000000;
}
  
  
.search-cart-button {
    display: inline-flex;
    align-items: center;
    gap: 20px;
  }
  
  .search-cart-button a>img:hover {
    color: #111111;
    scale: 1.1;
    transition-duration: .3s;
  }
  
  .search-cart-button button.login--button {
    background-color: #ffb607;
    border-radius: 5px;
    height: 37px;
    width: 140px;
    border: none;
    color: white;
    font-size: 11pt;
  }
  
  .search-cart-button button.login--button:hover {
    color: #111111;
    scale: 1.02;
    transition-duration: .3s;
    box-shadow: 0 0 5px#555555;
    ;
  }
  
  .mobile-login-button {
    display: none;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* 
  
  
  header nav {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 2;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  nav li {
    padding: 0 1vw;
  }
  
  nav li a {
    text-decoration: none;
    color: #111111;
    text-transform: capitalize;
  }
  
  nav li a:hover {
    color: #ffb607;
    text-decoration: underline;
  }
  
  nav li img:hover{
      color: #111111;
      scale: 1.1;
      
      transition-duration: .3s;
  
  }
  
  .Loginregister {
    color: white;
    background-color: #ffb607;
    height: 35px;
    border-radius: 5px;
    line-height: 35px;
    padding: 0 7px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 14px;
    transition: .3s;
  }
  button{
    border: none;
  }
  
  .Loginregister:hover {
    color: #111111;
    scale: 1.02;
    box-shadow: 0 0 5px#555555;
  }
  
  .logo {
    height: 35px;
    width: fit-content;
    padding-top: 7px;
  } */
  
  .menuline {
    background-color: rgb(0, 0, 0);
    height: 3px;
    width: 20px;
    border-radius: 5px;
    margin: 4px;
  
  }
  
  .menu {
    background-color: white;
    border: none;
    cursor: pointer;
    align-self: center;
    position: absolute;
    right: 25px;
    top: 20px;
    display: none;
    z-index: 2;
  }
  
  
  .loginbutton {
    margin-left: 550px;
    align-items: center;
  } 

  .wwwwwwwwww{
  padding: 0;
    
  }
  
  button:hover {
    transition-duration: 0.3s;
    background-origin: padding-box;
    color: black;
    cursor: pointer;
  }
  
  .frame1 {
    padding-top: 75px;
    background-color: #f5f6fa;
    width: 100%;
  
  }
  
  .frame1-flex {
    display: flex;
    margin:auto;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
  
  }

  .frame1-content {
    /* margin: 25vh 0 20vh 11vw; */
    /* width: 500px; */
    margin: 270px 0 216px 11vw;
    padding-bottom: 100px;
    z-index: 1;
    flex:1;
  }
  
  .frame1-img {
    /* margin: 0 11vw 0 0; */
    /* margin: 0 118px 0 0; */
    z-index: 1;
    /* width: 1500px; */
    flex: 1;
  }
  
  
  .frame1 h1 {
    font-size: 55px;
    line-height: 1.5;
    font-weight: bold;
    padding-bottom: 40px;
  }
  
  .frame1 .lorem {
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 40px;
  }
  
  .viewcoursebutton button {
    font-size: 16px;
    color: white;
    background-color: #ffb607;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
  
  }
  
  
  .viewcoursebutton button:hover {
    scale: 1.05;
    box-shadow: 0 0 5px#555555;
    color: black;
  }
  
  
  .frame1 a {
    text-decoration: none;
    margin-bottom: 50px;
  
  }
  #x-design{
    position: absolute;
    z-index:0 ;
    height: 30px;
    width: fit-content;
    left: 35%;
    top: 70%;
    animation: x_design 3s infinite ;
  }
  
  @keyframes x_design {
      0% {transform: rotate(0deg);}
      50%  {transform:rotate(180deg);}
      
  }
  
  #round-design{
    position: absolute;
    z-index: 0;
    height: 50px;
    width: fit-content;
    left: 40%;
    top: 58%;
    animation: x_round_design 15s infinite linear ;
  }
  
  @keyframes x_round_design {
      0% {translate: -800px -350px;}
      8% {translate: -600px -520px;}
      50%  {translate: 1120px 50px;}
      65%  {translate: 350px 350px;}
      100% {translate: -800px -350px;}
      
  }
  #doubled-circles{
    position: absolute;
    z-index: 0;
    height: 300px;
    width: fit-content;
    left: 50%;
    top: 53%;  
    animation: x_doubled_circles 10s infinite linear;
  }
  
  @keyframes x_doubled_circles {
      0% {transform: rotate(0deg);translate: 20px 0;} 
      13%  {transform:rotate(60deg);translate:20px -20px;}
      67% {transform: rotate(-200deg);translate:60px 40px;}
      100% {transform: rotate(0deg);translate: 20px 0;} 
      
  }
  
  
  .frame1 img {
    height: auto;
    width: 600px;
  }
  
  
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<    FRAME 2     >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  
  
  
  
  .frame2 {
  
    width: 100%;
    background-color: white;
  }
  
  .title-subtitle{
    margin-right:auto ;
    margin-left: auto;
    text-align: center;
  }
  
  .stit {
    text-align: center;
    color: #ffb607;
    margin-top: 40px;
  }
  
  .mtit {
    text-align: center;
    margin: 10px auto;
    font-size: 30px;
    font-weight: 500;
  }
  
  
  .mstit-underline{
    width: 250px;
    margin: 0 auto;
  }
  
  
  .alllogo {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 120px;
    margin-left: -20px;
  }
  
  .logo12 {
    margin-bottom: 3vh;
  }
  @keyframes _logo12 {
    0%{translate: 500px -100px;}
    100%{translate: 0px 0px;}
  }
  
  .alllogo img {
    width: auto;
    height: 195px;
  }
  .alllogo p{
    position: relative;
    bottom: 30px;
    font-weight: 600;
  }
  
  .image2 {
    text-align: center;
  }
  
  
  
  
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<    FRAME 3    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  
  
  
  
  
  .imagerow31 {
    height: 180px;
    width: 320px;
    object-fit: cover;
  }
  
  .frame3 {
    height: fit-content;
    width: 100%;
    background-color: #f5f6fa;
  }
  
  .f3container {
    display: flex;
    flex-wrap: wrap;
    COLUMN-gap: 90px;
    justify-content: center;
    margin: 50px auto 70px auto;
  }
  
  .f3tables {
    width: 320px;
    background-color: white;
    cursor: pointer;
    margin-bottom: 30px;
  }
  
  .f3tables:hover {
    scale: 1.02;
    box-shadow: 0 0 5px #555555;
    transition: .3s ease-out
  }
  
  .f3tablesyellowtext {
    color: #ffb607;
    padding: 15px 15px;
  }
  
  .f3tablespbiggertext {
    font-size:larger;
    font-weight: 480;
    padding: 0 15px;
  }
  
  #f3-table-pic3{
    position:relative;
  }

  .students44{
    padding-left: 150px;
    color: #868686;
    font-size: small;
  }
  .lessons0{
    color: #868686;
    font-size: small;
    padding: 0 0 0 10px;

  }






  #topup-button{
    height: 25px;
    width: 25px;
    background-color: #ffb607;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 20px;
    left: 97%;
  }
  #topup-button img{
    width: 15px;
  
  
  }
  
  
  
  
  
  
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<    FRAME  4    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  
  
  
  
  
  .frame4 {
    height: fit-content;
  }
  
  
  
  .multiplebox4 {
  
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px 15vw 50px 15vw;
    justify-content: center;
  }
 
  
  
  .frame4image1,
  .frame4image2,
  .frame4image3,
  .frame4image4,
  .frame4image5,
  .frame4image6,
  .frame4image7,
  .frame4image8 {
    height: 140px;
    width: 270px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    background-size: cover;
    color: white;
    justify-content: center;
    padding-top: 45px;
    box-shadow: 0 0 10px rgb(92, 92, 92);
    line-height: 20px;
    cursor: pointer;
  }
  
  
  
  .frame4image1:hover,
  .frame4image2:hover,
  .frame4image3:hover,
  .frame4image4:hover,
  .frame4image5:hover,
  .frame4image6:hover,
  .frame4image7:hover,
  .frame4image8:hover {
    scale: 1.02;
    box-shadow: 0 0 5px #555555;
    transition: .3s ease-out
  }
  
  
  .frame4image1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
      url('https://eduon-beta.vercel.app/images/design.jpg');
  }
  
  .frame4image2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
      url('https://eduon-beta.vercel.app/images/development.jpg');
  }
  
  .frame4image3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
      url('https://eduon-beta.vercel.app/images//business.jpg');
  }
  
  .frame4image4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
      url('https://eduon-beta.vercel.app/images/marketing.jpg');
  }
  
  .frame4image5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
      url('https://eduon-beta.vercel.app/images/it&software.jpg');
  }
  
  .frame4image6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
      url('https://eduon-beta.vercel.app/images/datascience.jpg');
  }
  
  .frame4image7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
      url('https://eduon-beta.vercel.app/images/photography.jpg');
  }
  
  .frame4image8 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
      url('https://eduon-beta.vercel.app/images/music.jpg');
  }
  
  
  
  
  
  .allcatebutton {
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .allcatebutton button {
    color: white;
    background-color: #ffb607;
    height: fit-content;
    width: fit-content;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
  }
  
  .allcatebutton button:hover {
    color: #111111;
    scale: 1.02;
    box-shadow: 0 0 5px#555555;
  }
  
  .yellowrectangle {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 60px 0 0 0;
    justify-content: center;
  
  }
  
  .yellowboxcontent {
    color: white;
    padding-left: 20px;
    height: 170px;
    width: 290px;
    align-self: center;
    align-items: center;
  }
  .yellowboxcontent h3{
    padding: 40px 0 15px 0;
    font-size: larger;
  }
  .yellowboxcontent p{
    line-height: 2;
  }
  
  .yellowpt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffb607;
    padding: 0 0 0 20px;
    margin-bottom: 20px;
    min-width: 300px;
  }
  #invidunt{
    width: 670px;
    margin: auto;
    z-index: 1;
  }
  
  .logojess {
    display: flex;
    margin: 20px auto 30px auto;
    justify-content: center;
    position: relative;
  }
  
  .logojess #logojess {
    width: 40px;
    height: 40px;
    object-fit: cover;
    background-size: cover;
    border-radius: 50%;
    margin-right: 15px;
  
  }
  #left-design-fr4{
    position: absolute;
    height: 200px;
    width: fit-content;
    top:-320px ;
    left: 7%;
    z-index: 0;
  
  }
  #right-design-fr4{
    position: absolute;
    height: 200px;
    width: fit-content;
    top: -150px;
    right: 1%;
    z-index: 0;
  }
  
  .buynowbutton {
    text-align: end;
    padding: 0 0 40px 0;
  }
  
  
  .buynowbutton button {
    line-height: 30px;
    color: white;
    border: none;
    background-color: #82B440;
    border-radius: 50px;
    height: 30px;
    width: 100px;
    box-shadow: 0px 0px 15px #82B440;
    margin: 0 25px 5px 0;
  }
  
  .buynowbutton button:hover {
    color: black;
    scale: 1.05;
    transition-duration: .5s;
  
  }
  
  .scrollbars {
    display: flex;
    justify-content: center;
    margin: 10px 10px 30px 10px;
    position: relative;
    bottom: 40px;
  }
  
  .scroll {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #ffb607;
    margin: 2px;
  }
  
  .scroll1 {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: grey;
    margin: 2px;
  }
  
  
  
  
  
  
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<     FRAME  5    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  
  
  
  
  .frame5 {
    /* background-color: #f5f6fa; */
    width: 100%;
  }

  .mstit-underlinefr5{
    display: none;
  }
  
  .frame5main {
    justify-content: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 80px;
  }
  
  
  .frame5img2 {
  
    height: fit-content;
    width: 580px;
    margin-top: 130px;
    align-items: center;
    justify-content: center;
  
  }
  
  .frame500 {
    padding-top: 50px;
    height: fit-content;
  }
  
  .frame5box {
    background-color: rgb(255, 255, 255);
    height: 180px;
    width: max-content;
    align-content: center;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1.2;
    box-shadow: 0 0 10px -5px #303030;
  }
  
  .fr5datetime {
    margin-top: 20px;
    display:flex ;
    gap: 5px;
  }
  
  .fr5location {
    margin-bottom: 20px;
    display: flex;
  }
  
  .frame5cont h4 {
    padding: 20px 0;
    font-weight: 550;
    font-size: medium;
    font-weight: 650;
  }
  
  .frame5cont img {
    width: 13px;
    height: 13px;
  }
  
  .frame5cont555 {
    color: #9fa8af;
    padding-right: 5%;
    font-size: 12px;
    font-weight: 450;
  }
  
  .frame5cont556 {
    color: #9fa8af;
    font-size: 12px;
    font-weight: 450;
  }
  
  .frame5cont666 {
    color: #9fa8af;
    font-size: 12px;
    font-weight: 450;
  }
  
  .frame500 .s501 {
    height: 180px;
    width: fit-content;
    padding:  10px ;
    flex: 1;
  }

  .frame500 .frame5cont{
    flex-grow: 2;
    padding: 0 20px 0 0;
  }
  .ellipse-border{
    position: absolute;
    height: 155px;
    width: fit-content;
    top: 17px;
    left: 63px;
  }
  
  .stitframe5 {
    color: #ffb607;
    padding-top: 60px;
  }
  
  .mtitframe5 {
    padding-top: 10px;
    font-size: 30px;
    font-weight: 500;
  }
  .stitmtitframe5{
    /* margin-left: 19.9vw; */
    margin-left: 50%;
    transform: translateX(-573px);
  }
  .untitled1-bg{
    background-image: url('https://eduon-beta.vercel.app/images/Untitled-1-bg.png');
    height:fit-content;
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    background-position-y:-200px ;
  
  }
  
  
  
  
  
  
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<    FRAME  6    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  
  
  
  
  
  
  
  
  
  .frame6 {
    background: linear-gradient(white, #f5f6fa);
    width: 100%;
  }
  
  .framebox {
    height: auto;
    justify-content: center;
    margin: 50px;
    column-gap: 27px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .boxxx {
    height: 380px;
    width: 250px;
    object-fit: cover;
    background-position: center;
    background-color: #d6d2db;
  }
  
  .boxxx1 {
    height: 380px;
    width: 250px;
    background-size: cover;
    object-fit: cover;
    object-position:top;
    background-color: #d6d2db;
  }
  
  .box {
    margin: 10px;
    height: 480px;
    width: 250px;
    border: black 2px;
    background-color: white;
    line-height: 1.5;
    cursor: pointer;
  }
  
  .framebox>.box>p{
    color: #807B80;
    font-size: small;
  }
  
  .box:hover {
    scale: 1.02;
    box-shadow: 0 0 5px #555555;
    transition: .3s ease-out;
  }
  
  .box h2 {
    margin: 25px 0 5px 0;
    font-size:large;
    font-weight: 500;

  }
  
  .ecclipses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 70px;
  }
  
  .ecclipses img {
    height: 150px;
  }
  
  .ecclipses div {
    text-align: center;
    margin: 30px 0;
  }
  .ecclipses div p{
    font-weight: 600;
  }
  
  .ecclipsestext span {
    text-align: center;
    font-size: large;
  
  
  }
  
  .dividerframe6 {
    background-color: #d7dadf;
    height: 1.5px;
    width: 75vw;
    justify-content: center;
    margin: auto;
  
  }
  
  
  
  
  
  
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<    FRAME  7    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  
  
  
  
  
  
  .frame7 {
    height: fit-content;
  }
  
  .frame7container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px auto;
    column-gap: 90px;
  }
  
  .picfr7 p {
    color: #ffb607;
    padding-top: 15px;
  }
  
  .picfr7 h3 {
    padding-top: 15px;
    font-weight:500;
    font-size: larger;
  }
  
  .dividerframe7 {
    background-color: #d7dadf;
    height: 1px;
    width: 280px;
    margin: 15px 0px 15px 20px;
  }
  
  .picfr7 {
    height: 380px;
    width: 320px;
    min-width: 300px;
    margin: 25px 0;
    line-height: 1.2;
    box-shadow: 1px 1px 20px -10px#2727278f;
    cursor: pointer;
  }
  
  .picfr7:hover {
  
    scale: 1.02;
    box-shadow: 0 0 5px #555555;
    transition: .3s ease-out
  }
  
  .picfr7 p,
  .picfr7 h3,
  .picfr7 span {
    padding-left: 20px;
  }
  
  .picfr7 span {
    color: #9fa8af;
    font-size: 14px;
  }
  
  .picfr7 img {
    width: 320px;
    background-position: center;
    object-fit: cover;
  }
  
  
  
  
  
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<     FRAME 8     >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  
  
  
  
  
  .frame8 {
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f6fa;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    column-gap: 46px;
  }
  
  .frame8 div {
    display: flex;
    margin: 30px 0px;
  }
  
  .frame8 div img {
    align-items: center;
    height: 30px;
    width: 30px;
  }    
  .frame8>div>h2{
    color: #807B80;
    font-size: x-large;
    font-weight: 600;
  }
  
  
  
  
  
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<     FRAME  9    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  
  
  
  
  .frame9 {
    width: 100%;
    background-color: #111111;
  }
  
  .frame09 {
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
  }
  
  .frame09 .disclaimercontent ,.disclaimercontent1  {
    margin: 40px 50px;
    /* text-align: center; */
  }
  
  .frame09 .disclaimercontent div {
    display: flex;
    /* justify-content: center; */
  }
  
  .frame09 .disclaimercontent div img {
    height: 20px;
    width: fit-content;
    align-self: center;
    padding-right: 10px;
  }
  
  .disclaimercontent h2,
  .disclaimercontent p ,.disclaimercontent1 h2,
  .disclaimercontent1 p {
    margin: 20px 0;
  }
  
  .disclaimercontent1 h2{
    margin-bottom: 40px;
    font-size: x-large;
    font-weight: 500;
  }
  .disclaimercontent>h2{
    font-size: x-large;
    font-weight: 500;

  }
  
  
  .dividerframe9 {
    background-color: #d7dadf79;
    height: 1.5px;
    width: 75vw;
    position: relative;
    margin: 0 auto;
  }
  
  .frame9999 {
    position: absolute;
    margin-top: 18.7%;
    left: 5%;
  }
  
  .copyrights {
    display: flex;
    justify-content: center;
    color: white;
    padding: 20px 0 0 0;
  }
  
  .copyrights img {
    position: relative;
    bottom: 2px;
    right: 5px;
  }
  
  .copyrights p {
    font-size: 15px;
  }
  
  .copyrights span{
    color: #ffb607;
  }

  
  
  
  
  
  
  
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<    MEDIA QUERIES     >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 
   <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<    MEDIA QUERIES     >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 
   <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<    MEDIA QUERIES     >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  
  
  
  
  
  
  @media all and (max-width: 1250px) {
  
    .frame5img2 {
      display: none;
    }
  
    .frame1-img , #x-design , #round-design ,#doubled-circles {
      display: none;
    }
  
    .frame1 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
      url('https://eduon-beta.vercel.app/images/everything-will-be-awesome-group-young-people-casual-clothes-working-modern-office.jpg');
      background-position: center;
      background-size: cover;
      color: white;
      animation: frame1-animation 10s infinite ease-in-out;
    }
  @keyframes frame1-animation{
    25%{
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
      url('https://eduon-beta.vercel.app/images/development.jpg');;
    }
    50%{
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
      url('https://eduon-beta.vercel.app/images/business.jpg');;
    }
    75%{
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
      url('https://eduon-beta.vercel.app/images/it&software.jpg');;
    }
  }


  .stitframe5 {
    text-align: center;
  }
  
  .mtitframe5 {
    text-align: center;
  }
  .stitmtitframe5{
    /* margin-left: 19.9vw; */
    margin-left: 0;
    transform: translateX(0);
  }
  .mstit-underlinefr5{
    display: block;
    width: 250px;
    margin: 0 auto;
  }






}
  
  
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


  
  @media all and (max-width:800px) {
    header {
      background-color: rgb(255, 255, 255);
      width: 100%;
      height: 75px;
      flex-direction: column;
    }
  
    header .logo {
      align-self: flex-start;
      position: fixed;
    }
  
    header .nav-items,
    header .search-cart-button {
      flex-direction: column;
      width: auto;
      background-color: rgba(255, 255, 255, 0.95);
      padding: 100px 100vw 1300px 100vw;
      gap: 5px;
    }
  
  
    header .nav-items>div,
    header .search-cart-button>div {
      padding: 10px;
      display: flex;
      justify-content: center;
    }
  
    .mobile-login-button {
      display: block;
      border: none;
      background-color: #ffb607;
      height: 35px;
      width: 120px;
      border-radius: 5px;
  
    }

  
    .frame1-content {
      padding-bottom: 0;
    }
    .frame1 h1 {
      line-height: 1.5;
      font-weight: bold;
      width: 81vw;
      font-size: 40px;
      padding: 70px 0 25px 0;
      text-align: center;
  
    }
    
    .frame1 .lorem {
      line-height: 1.5;
      font-size: 16px;
      padding: 15px 0 50px 0;
      width: 81vw;
      text-align: center;
    }
  
    .frame1-flex {
      display: block;
    }
  
    .frame1-content {
      margin: 0 30px;
    }
  
    .viewcoursebutton button {
      margin: 0%;
      padding: 0;
    }
  
    .viewcoursebutton {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
    .f3container{    margin: 50px auto 0px auto;}
    
    #invidunt{
    width: 90%;
    margin-left: 5%;
    text-align: justify;
  }
    .menu {
      background-color: none;
      border: none;
      display: block;
      position: fixed;
      right: 25px;
      top: 25px;
    }
  
    .showmenu {
      display: block;
    }
  
    .hide {
      display: none;
    }
  
  
  
    .buynowbutton {
      text-align: center;
    }
  
    .buynowbutton button {
      margin: 0%;
    }
  
    .frame5box {
      height: fit-content;
      width: fit-content;
      display: flex;
      flex-wrap: wrap;
    }
    .frame500 .s501{
      height: 200px;
    }
    .frame500 .frame5cont {
      width: 300px;
      padding-left: 20px;
    }
    .mtit{
      width: 90%;
      margin-left:5% ;
    }
  
    .frame09 .disclaimercontent , .disclaimercontent1 {
      text-align: center;
    }
    
    .frame09 .disclaimercontent div , .disclaimercontent1 {
      justify-content: center;
    }
  
  
  /* display none's */
  #left-design-fr4 ,
  #right-design-fr4 ,
  .scrollbars {
    display: none;
  }
  
  
  
  
  }
  
  
  
  
  
  @media (max-width:800px) and (min-width:540px) {
    
    .ellipse-border{
      top: 14px;
      left: 1.5px;
    }
  }
  
  
  @media (max-width:539px) {
    .ellipse-border{
      top: 15px;
    left: 50%;
    margin-left: -108px;
  }
  
  }



  @media all and (min-width:1921px){
    .multiplebox4 {
      margin: 50px auto;
      max-width:1400px;
    }
    .frame1-flex{
      width: 1200px;
    }
    .frame1-content {
      margin-left: 20px;
    }
  }
  
  /* branding ---------------------------------------------branding / login --------------------------------------------------------------------------login */
  
  